<div class="row-fluid sortable">
    <div class="box span12">
        <div class="box-header" data-original-title>
            <h2>
                <i class="halflings-icon white edit"></i>
                <span class="break"></span>添加报警数据</h2>
            <div class="box-icon">
                <a href="#" class="btn-minimize">
                    <i class="halflings-icon white chevron-up"></i>
                </a>
            </div>
        </div>
        <div class="box-content">
            <form class="form-horizontal" enctype="multipart/form-data" action="/add_warning" method="post">
                <fieldset>
                    <div class="control-group">
                        <label class="control-label" for="date01">日期</label>
                        <div class="controls">
                            <input type="text" class="input-xlarge datepicker" id="date01" value="{{ date_now }}" name="r_date">
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label" for="selectErrorSite">站点</label>
                        <div class="controls">
                            <select id="selectErrorSite" data-rel="chosen" name="r_site">
                                {% for site in all_site %}
                                <option>{{ site }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label" for="selectError">线路</label>
                        <div class="controls">
                            <select id="selectError" data-rel="chosen" name="r_line">
                                <option>上行</option>
                                <option>下行</option>
                            </select>
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label" for="selectErrorKind">车种</label>
                        <div class="controls">
                            <select id="selectErrorKind" data-rel="chosen" name="r_kind">
                                {% if train_kind %} {% for kind in train_kind %}
                                <option>{{ kind }}</option>
                                {% endfor %} {% else %}
                                <option>无</option>
                                {% endif %}
                            </select>
                        </div>
                    </div>


                    <div class="control-group">
                        <label class="control-label" for="selectErrorSide">位置</label>
                        <div class="controls">
                            <select id="selectErrorSide" data-rel="chosen" name="r_side">
                                <option>左侧</option>
                                <option>右侧</option>
                            </select>
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label" for="selectWarningCata">报警分类</label>
                        <div class="controls">
                            <select id="selectWarningCata" data-rel="chosen" name="r_type">
                                <option>真实</option>
                                <option>误报</option>
                                <option>漏报</option>
                            </select>
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label" for="selectAlgoType">算法类型</label>
                        <div class="controls">
                            <select id="selectAlgoType" data-rel="chosen" name="r_algo_type">
                                {% if algo_type %} {% for x in algo_type %}
                                <option>{{ x }}</option>
                                {% endfor %} {% else %}
                                <option>无</option>
                                {% endif %}
                            </select>
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label" for="selectErrorM">误报、漏报原因</label>
                        <div class="controls">
                            <select id="selectReasons" multiple name="r_reason">
                                {% if error_reason %} {% for reason in error_reason %}
                                <option>{{ reason }}</option>
                                {% endfor %} {% else %}
                                <option>无</option>
                                {% endif %}
                            </select>
                            <p>*按住CTRL多选</p>
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label" for="fileInput">图片上传</label>
                        <div class="controls">
                            <input class="input-file uniform_on" id="fileInput" type="file" name="r_pic">
                        </div>
                    </div>

                    <div class="form-actions">
                        <button type="submit" class="btn btn-primary">保存</button>
                        <button type="reset" class="btn">取消</button>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
    <!-- content -->
</div>